body {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.photo-card {
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: blue;
}

.load-more {
  margin: 0 auto;
  max-width: 150px;
  background: tomato;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 30px;
}

.invisible {
  display: none;
}
